Options -Indexes
RewriteEngine On
RewriteCond %{HTTP_HOST} ^mail.terraz.ru
RewriteRule (.*) http://www.mail.terraz.ru/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php